---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Basic Form">
  <form method="post" action="https://example.com">
    <label>名前: <input name="name" /></label>
    <button type="submit">送信</button>
  </form>
</BaseLayout>
