---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Astroチュートリアル">
  <p>このチュートリアルへようこそ。</p>
  <ul>
    <li><a href="/static-example">静的ページ</a></li>
    <li><a href="/ssr-example">SSRページ</a></li>
    <li><a href="/forms/basic">フォーム</a></li>
    <li><a href="/forms/with-action">Astro Actions</a></li>
    <li><a href="/react-demo/interactive">Reactデモ</a></li>
  </ul>
</BaseLayout>
